.Quiz{
    display: flex;
    justify-content: center;
    background-color: purple;
    color: white;
    
}
.quiz{
    display: flex;
    justify-content: center;
    color: purple;
}
.container{
    display: block;
    color: purple;
}
.row{
    justify-content: center;
   
    
} 
#Start{
    align-content: center;
    display: block;
}
.body{
    align-content: center;
    color:honeydew;
}
#timer{
    display: block;
    color: red;
    font-size: 30px;
}
#score{
    display: block;
    align-content: center;
    
}
#playerInitials{
    display: block;
    align-content: center;
}
#quizQuestions{
    display:block;
    align-content: center;
}
#highScoresContainer{
    display: block;
    align-items: center;
}
button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #563d7c;
    border-radius: 5px;
    padding: 2px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
  }
